/* 作成日：2023/05/08 */
/* 作成者：會田 一亮 */
@charset "UTF-8";

table {
  
  border-collapse: collapse;
  border: 2px solid #000000;

}

td {
  border: 2px solid #000000;
}

th {
  border: 2px solid #000000;
}
